* {
  font-family: Raleway;
}

*::selection {
  color: white;
  background-color: rgb(204, 48, 61);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffe285;
}

@media screen and (min-width: 768px) {
  #root {
    width: 70%;
    margin-left: 10%;
  }
}
