@import "../../../variables.scss";

.blog-container {
  margin: 10% 0%;
  padding: 7%;
}

.card {
  padding: 20px;
  margin-top: 20px;

  background: #fff;
  border: 1px solid #fafafa;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  overflow-y: auto;
}

.link-card {
  color: #202950;
  text-decoration: none;
}

.actions {
  display: flex;
  padding-top: 20px;

  a {
    font-size: 1rem;
    padding: 0.6rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;
  }

  .register {
    background-color: $primary;
    color: $bg-color;
  }

  .login {
    color: $primary;
    border: 2px solid $primary;
  }
}

.home-container {
  display: flex;
  place-items: center;
  height: 100%;

  .text {
    margin: 0 1rem;

    .title {
      font-family: "Zilla Slab";
      font-size: 2.75rem;
      text-align: center;
      margin: 0;
    }

    .description {
      text-align: center;
      font-size: 1.35rem;
      line-height: 2rem;
      margin: 2rem 0;
    }

    .actions {
      display: flex;
      justify-content: space-around;

      a {
        font-size: 1rem;
        padding: 0.6rem 2rem;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        display: block;
      }

      .register {
        background-color: $primary;
        color: $bg-color;
      }

      .login {
        color: $primary;
        border: 2px solid $primary;
      }
    }
  }

  img {
    display: none;
  }
}

.button-add {
  background-color: yellow;
  border: none;
  color: white;
  position: relative;
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 10;
  bottom: 10;
}

@media screen and (min-width: 768px) {
  .home-container {
    justify-content: space-between;

    .text {
      margin: 0;

      .title {
        font-size: 3.5rem;
        text-align: start;
      }

      .description {
        font-size: 1.75rem;
        line-height: 2.5rem;
        margin: 2.5rem 0;
        text-align: start;
      }

      .actions {
        justify-content: start;

        a {
          font-size: 1.5rem;
          padding: 0.7rem 2.5rem;
          text-align: center;
        }

        .register {
          margin-right: 2.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .home-container {
    justify-content: space-between;

    .text {
      width: 50%;
    }

    img {
      width: 40%;
      height: 40%;
      display: block;
    }
  }
}
